{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="row">
  {% for destination in destinations %}
  <div class="=col-6">
  <div class="card">
    <img class="card-img-top" src="{{destination.pretty_picture.url}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{destination.name}}</h5>
      <p class="card-text">{{destination.activities}}</p>
      <a href="{% url 'destination-detail' destination.id %}"> 
        <button type="submit" >go to detail</button></a>
    </div>
  </div>
</div>
  {% endfor %}
  {{ form|crispy }}
</div>
{% endblock content %}